.section {
  background: #ebeeee;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.row .introduction {
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    margin: 0;
  }
  .row > div:not(:first-child) {
    margin-top: 2rem;
  }
  .section {
    padding-bottom: 0;
  }
}