.section {
  background: #ebeeee;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.container {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.column {
  flex: 25%;
  max-width: 25%;
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}