.project {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.project > a {
  position: relative;
  max-width: 400px;
  max-height: 350px;
  width: 40vw;
  height: 30vw;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
}

.project > a:hover {
  transform: scale(1.15);
  z-index: 10;
  border: 8px sold #fff;
  box-shadow: 1px 4px 12px rgba(0,0,0, 0.7);
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background: rgba(54,99,143, 0.9);
  padding: 20px 30px;
  overflow: hidden;
  box-sizing: border-box;
  color: white;
}
.overlay:hover {
  opacity: 1;
  
}

.caption {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.caption > h2 {
  color: rgba(254,188,17);
  font-weight: 600;
  font-size: 28px;
}

.caption > p {
  margin: 0;
  padding: 1rem;
  font-weight: 600;
  font-size: 20px;

}

.picture {
  max-width: 400px;
  max-height: 350px;
  width: 40vw;
  height: 30vw;
  object-fit: cover;
}
  
@media screen and (max-width: 1000px) {
  .project {
    align-items: center;
  }
  .project > a {
    transition: unset;
  }
  .overlay {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .project > a {
    width: 80vw;
    height: 60vw;
  }
  .picture {
    width: 80vw;
    height: 60vw;
  }
}