.column {
  display: flex;
  flex-direction: column;
}

.section p {
  margin: 0;
}


.row {
  display: flex;
  align-items: center;
}

.row p:last-child {
  margin-left: auto;
}

.section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  padding-top: 0;
}

.section h1 {
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
  margin: 0;
}

.section h2 {
  color: rgb(0, 87, 125);
  margin: 0;
}