.column {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 65%;
}

.row > h2 {
  width: 25%;
}

.row {
  width: 90%;
  max-width: 1020px;
  display: flex;
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
  border-bottom: 1px solid #E8E8E8;
}