.container {
  background: rgba(54,99,143);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container h1 {
  color: white;
  border-bottom: none;
}

form {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  margin: 10px 0 20px;
  justify-content: space-between;
}

.row > div {
  width: 100%;
  
}

.col6 {
  max-width: 48%;
}

input {
  padding: 15px 10px;
  font-size: 125%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat-SemiBold';
}


textarea {
  resize: vertical;
  width: 100%;
  height: 170px;
  padding: 25px 10px;
  font-size: 125%;
  box-sizing: border-box;
  font-family: Montserrat-SemiBold;
}
