/* .column {
  display: flex;
  flex-direction: column;
} */

.section p {
  margin: 0;
}

.description{
  margin: 1rem;
  width: 100%;
}

.item {
  margin-bottom: 1rem;
}

.item:last-child {
  margin-bottom: 0;
}

.row {
  display: flex;
}

.list .row {
  align-items: center;
}

.row p:last-child {
  margin-left: auto;
}

.section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.description h2 {
  color: rgb(0,54,96);
  margin: 0;
}

.section ul {
  margin: 0;
}

.skills {
  justify-content: center;
  overflow: scroll;
}

.skills > div {
  margin: 0 5rem;
}

@media screen and (max-width: 700px) {
  .skills {
    flex-direction: column;
    margin-left: 2rem;
  }
  .skills > div {
    margin: 0;
  }
  .row {
    flex-direction: column;
  }
  .row p:last-child {
    margin-left: 0;
  }
  .description {
    width: auto;
  }
  .item > .row {
    align-items: flex-start;
  }
  .row > h2 {
    text-align: center;
  }
}

/* .skills ul {
  text-align: left;
} */