---
import MainHead from '../layouts/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import About from '../components/About/index.jsx';
import Resume from '../components/Resume/index.jsx';
import Projects from '../components/Projects/index.jsx';
import ContactForm from '../components/ContactForm/index.jsx';
import Home from '../components/Home/index.jsx';
import '../scss/global.scss';

---
<html lang="en">
  <head>
    <MainHead title="Alan Roddick" description="Alan Roddick's Personal Website" />
  </head>
  <body>
    <Nav client:load/>
    <Home />
    <About />
    <Resume />
    <Projects />
    <ContactForm client:visible/>
    <Footer />
  </body>
</html>
