.container {
  position: absolute;
  width: 100%;
  z-index: 5;
  bottom: 0;
}

.links {
  display: flex!important;
  justify-content: center!important;
  margin: 0.5rem!important;
  
}

.links a {
  opacity: 1!important;
  z-index: 10!important;
  color: white!important;
  text-decoration: none!important;
  font-size: 2rem!important;
  font-weight: 100!important;
  padding: 10px 20px!important;
  margin: 0 2rem!important;
  -webkit-transition: opacity 300ms ease!important;
  -moz-transition: opacity 300ms ease!important;
  -ms-transition: opacity 300ms ease!important;
  transition: opacity 300ms ease!important;
}

.links a:hover {
  opacity: 0.6!important;
}

.active {
  border: 1px solid white!important;
}



