.header {
  position: relative;
  
}

.hero {
  height: 100vh;
  min-height: 700px;
  width: 100%;
  object-fit: cover;
  filter: blur(4px);
  transform: scale(1.1);
}

.imageContainer {
  overflow: hidden;
}

.container {
  position: absolute;
  top: 25%;
  width: 100%;
}

.introduction {
  max-width: 35%;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
	padding: 10px 20px;
  border-radius: 25px;
  /* width: 40%; */
  margin-left: 3rem;
  padding: 1rem;
  color: white; 
  background: #0B93F6;
} 

.introduction:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #0B93F6;
  border-width: 20px 20px 20px 0;
  top: 50%;
  left: -20px;
  margin-top: -20px;
}

.profile {
  border-radius: 50%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.row .introduction {
  align-self: center;
}

/* .row > * {
  margin: 2rem;
} */

.interest {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.column > div > * {
  margin: 0 2rem;
}

.picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* .row > p {
  width: 50%;
}

.row > img {
  
} */

.links svg {
  font-size: 3rem;
  margin: 1rem;
}

.links a {
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.links {
  display: flex;
  justify-content: center;
}

.description {
  display: inline;
  background: rgba(245, 240, 240, 1);
  margin: 0;
  padding: 1rem;
}

.interests > h1 {
  text-align: center;
  font-size: 50px;
}

.interests {
  padding-top: 1rem;
}