.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  scroll-behavior: smooth;
}

.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
  bottom: auto!important;
  background:rgba(54,99,143, 0.9);
}

h1 {
  font-size: 50px;
  padding: 1rem;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
}

button {
  border-radius: 25px;
  height: 50px;
  padding: 0 40px;
  outline: none;
  border: none;
  font-family: Montserrat-Medium;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
}

button:hover {
  cursor: pointer;
}