.container {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  background:rgba(54,99,143, 0.9);
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.links a {
  opacity: 1;
  z-index: 10;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
  padding: 10px 20px;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  &:focus,
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.active {
  border: 1px solid white;
}
